{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ next }}">
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <button class="btn btn-round form-control">
        <a href="{$url auth:register %}" class=""> зарегестрироваться </a>
    </button>

{% endblock %}
